#videoKOH{
	position: fixed;
	z-index: -1;
}

@media (min-aspect-ratio:16/9) {
	#videoKOH {
		width: 100%;
		height: auto;
	}
}

@media (max-aspect-ratio:16/9) {
	#videoKOH {
		width: auto;
		height: 100%;
	}
}

/*@media (max-width: 767px) {
	#videoKOH {
		display: none;
	}
	body {
		background: #000000;
	}
}*/

